.info-section {
    margin-bottom: 20px;
}

.info-section .contributor-list div {
    display: inline-block;
    cursor: pointer;
    margin-left: 2px;
    margin-bottom: 2px;
}

.info-section .contributor .contributor-avatar {
    width: 28px;
    height: 28px;
    border-radius: 3px;
}