.pagePad {
    padding: 10px 20px;
}

.radio-tip {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 7px;
}

.control {
    margin-bottom: 15px;
}

.control-wrapper {
    display: block;
    position: relative;
    margin-top: 5px;
}

.control-desc {
    display: inline;
    cursor: pointer;
}

.settings .settings-group-header {
    margin-top: 30px;
}

.settings .settings-group-header:first-child {
    margin-top: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: rgb(185, 163, 277);
    width: 200px;
    height: 3px;
    border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(185, 163, 277);
    width: 18px;
    border-radius: 9px;
    height: 18px;
    border: 3px solid rgb(100, 65, 165);
}

input[type="range"] {
    position: relative;
    top: -2px;
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height: 16px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(img/radiobutton.png) left top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(img/radiobutton.png) -25px top no-repeat;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 16px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url("img/checkbox.png") left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span {
    background: url("img/checkbox.png") -25px top no-repeat;
}

.range-helper {
    display: inline-block;
    position: relative;
    top: 0px;
}