html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 440px;
    height: 590px;
    background: rgba(30, 30, 30, 1);
    font-size: 12px;
    overflow: hidden;
}

body {
    color: rgb(120, 120, 120);
    height: 100%;
    overflow: hidden;
}

body.direction-rtl {
    direction: rtl;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

#content {
    width: 400px;
    display: block;
    left: 40px;
    top: 31px;
    position: absolute;
    bottom: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

#content.shift {
    top: 154px;
}

.clearfix {
    clear: both;
}

#help-screen {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999;
    background: black;
    text-align: center;
}

#donation-tip {
    margin-bottom: 10px;
    line-height: 1.3;
}

.btn-close-screen {
    color: white;
    position: absolute;
    right: 10px;
    top: 20px;
    opacity: 0.8;
    cursor: pointer;
    font-size: 1.6em;
}

.btn-close-screen:hover {
    opacity: 1
}

.donate-btn {
    font-size: 1.2em;
}

.donate-btn i {
    margin: 0;
}

.social {
    display: inline-block;
    cursor: pointer;
    opacity: 0.9;
    color: white;
    font-size: 2.5em;
}

.social:hover {
    opacity: 1;
}

a.js-tab {
    cursor: pointer;
}

.spad {
    padding: 10px 20px;
}

.header {
    font-weight: bold;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.item-image-container {
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    float: left;
}

.item-image-container img {
    width: 100%;
}

#menu {
    height: 100%;
    width: 39px;
    float: left;
    box-sizing: border-box;
    background: rgb(18, 18, 18);
    box-shadow: inset -1px 0px 1px black;
    z-index: 999999;
    position: fixed;
    top: 31px;
}

#preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

#preloader-stream {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-moz-transform: translate(-50%, -50%);*/
}

.screen-msg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
}

.screen-msg h2 {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}

.screen {
    display: none;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
}

.close-screen-btn {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255);
    right: 10px;
    top: 10px;
}

.btn {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(130, 102, 182)), to(rgb(83, 55, 135)));
    background: -moz-linear-gradient(top, rgb(130, 102, 182), rgb(83, 55, 135));
    background: linear-gradient(top, rgb(130, 102, 182), rgb(83, 55, 135));
    background-color: rgb(106, 78, 158);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    color: white;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    -moz-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);

}

.btn.disabled {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(130, 102, 182, 0.4)), to(rgba(83, 55, 135, 0.4)));
    background: -moz-linear-gradient(top, rgba(130, 102, 182, 0.4), rgba(83, 55, 135, 0.4));
    background: linear-gradient(top, rgba(130, 102, 182, 0.4), rgba(83, 55, 135, 0.4));
    background-color: rgb(255, 255, 255);
    text-shadow: none;
}

.btn.disabled:active {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(130, 102, 182, 0.4)), to(rgba(83, 55, 135, 0.4)));
    background: -moz-linear-gradient(top, rgba(130, 102, 182, 0.4), rgba(83, 55, 135, 0.4));
    background: linear-gradient(top, rgba(130, 102, 182, 0.4), rgba(83, 55, 135, 0.4));
    background-color: rgb(255, 255, 255);
}

.dropdown.open .btn {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(85, 60, 135)), to(rgb(55, 35, 100)));
    background: -moz-linear-gradient(top, rgb(85, 60, 135), rgb(55, 35, 100));
    background: linear-gradient(top, rgb(85, 60, 135), rgb(55, 35, 100));
    background-color: rgb(70, 47, 117);
}

.btn:active {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(85, 60, 135)), to(rgb(55, 35, 100)));
    background: -moz-linear-gradient(top, rgb(85, 60, 135), rgb(55, 35, 100));
    background: linear-gradient(top, rgb(85, 60, 135), rgb(55, 35, 100));
    background-color: rgb(70, 47, 117);
}

.btn i {
    color: rgb(255, 255, 255) !important;
}

.user-panel {
    color: whitesmoke;
    vertical-align: middle;
    float: right;
    display: inline-block;
    margin-right: 20px;
    line-height: 30px;
}

.user-panel span {
    font-weight: bold;
    color: rgb(238, 238, 238);
}

.user-panel .icon-menu {
    color: white !important;
    font-size: 16px;
    vertical-align: middle;
}

.user-panel img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 3px;
}

.user-panel .dropdown-menu-right {
    right: -5px;
}

.user-panel .username {
    display: inline-block;
    cursor: pointer;
}

