.game {
    width: 380px;
    height: 102px;
    display: block;
    position: fixed;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    border-bottom: 1px solid rgb(0, 0, 0);
    z-index: 3;
    top: 31px;
}

.tabs .tab {
    display: none;
}

.game-list-item {
    float: left;
    width: 77px;
    background: none;
    border: none !important;
}

.game-list-item .game-preview {
    margin-bottom: 5px;
}

.game-list-item .item-image-container {
    float: none;
}

.game-preview {
    width: 74px;
    height: 102px;
}

.game .game-preview .game-follow {
    position: absolute;
    top: 10px;
    background-color: rgba(3, 1, 1, 0.43);
    opacity: 0;
    text-align: center;
    color: white;
    cursor: pointer;
    left: 14px;
    right: 14px;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: opacity 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: opacity 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: opacity 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: opacity 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.game .game-preview:hover .game-follow {
    opacity: 1;
}

.game .game-preview .game-follow:hover {
    opacity: 1;
}

@-webkit-keyframes fadeout {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2, 2);
        opacity: 0;
    }
}

.game .game-preview .game-follow img {
    width: 24px;
}

.game .game-preview .game-follow img.twin {
    position: absolute;
    top: 10px;
    left: 10px;
}

.game .game-preview .game-follow.active img.twin {
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 1s;
}

.game .game-preview img {
    width: 100%
}

.game .stream-info {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3;
    font-size: 11px;
}

.game .stream-info.stream-title {
    color: rgb(238, 238, 238);
    font-size: 14px;
    margin-bottom: 5px;
}

.game .buttons {
    display: inline-block;
    position: absolute;
    bottom: 6px;
}

.game .buttons .button {
    margin-right: 5px;

}

.button {
    overflow: hidden;
    display: inline-block;
    color: rgb(238, 238, 238);
    height: 32px;
    line-height: 32px;
    background-color: rgb(44, 44, 44);
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    position: relative;
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    padding: 0 10px;
}

.button:hover {
    background-color: rgb(25, 25, 25);
}

.button.active .indicator {
    display: block;
}

.button span {
    vertical-align: middle;
}

.button .icon {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.button:hover img {
    opacity: 1;
}

.button .indicator {
    position: absolute;
    display: none;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(75, 40, 140);
}

.button .icon-camera {
    width: 16px;
    height: 14px;
    background-image: url(../img/camera.png);
}

.button .icon-play {
    width: 16px;
    height: 16px;
    background-image: url(../img/play.png);
}