.game {
    width: 380px;
    height: 102px;
    display: block;
    position: absolute;
    left: 40px;
    top: 31px;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.game .game-preview {
    position: relative;
    width: 70px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    float: left;
    margin-right: 10px;
    height: 98px;
    overflow: hidden;
}

.game .game-preview > span {
    position: absolute;
    bottom: 0;
    background-color: rgba(100, 65, 165, 0.8);
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
    left: 0;
    right: 0;
}

.game .game-preview > span:hover {
    background-color: rgba(100, 65, 165, 1);
}

.game .game-preview img {
    width: 100%
}

.game .stream-info {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3;
    font-size: 11px;
}

.game .stream-info.stream-title {
    color: rgb(238, 238, 238);
    font-size: 14px;
    margin-bottom: 5px;
}

.game .buttons {
    display: inline-block;
    position: absolute;
    bottom: 10px;
}

.game .buttons .button {
    margin-right: 5px;

}

.button {
    overflow: hidden;
    display: inline-block;
    color: rgb(238, 238, 238);
    width: 90px;
    height: 32px;
    line-height: 32px;
    background-color: rgb(44, 44, 44);
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    position: relative;
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
}

.button:hover {
    background-color: rgb(25, 25, 25);
}

.button.active .indicator {
    display: block;
}

.button span {
    vertical-align: middle;
}

.button .icon {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

.button:hover img {
    opacity: 1;
}

.button .indicator {
    width: 100%;
    position: absolute;
    display: none;
    height: 2px;
    bottom: 0;
    background-color: rgb(75, 40, 140);
}

.button .icon-camera {
    width: 16px;
    height: 14px;
    background-image: url(../img/camera.png);
}

.button .icon-play {
    width: 16px;
    height: 16px;
    background-image: url(../img/play.png);
}