.menu-btn {
    cursor: pointer;
    padding: 10px 0px;
    opacity: 0.9;
    text-align: center;
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
}

.menu-btn:hover {
    opacity: 1;
    background: rgb(100, 65, 165);
}

.menu-btn:active, .menu-btn.active {
    opacity: 1;
    background: rgb(75, 40, 140);
}

.menu-btn img {
    vertical-align: middle;
    height: 20px;
}

.top-menu {
    position: fixed;
    top: 0;
    z-index: 9999;
    background: rgb(18, 18, 18);
    left: 0;
    height: 30px;
    right: 0;
    width: 440px;
    border-bottom: 1px solid black;
}

#search-menu {
    display: block;
}

.top-menu-btn {
    display: inline-block;
    cursor: pointer;
    float: left;
    margin-top: 6px;
    margin-left: 5px;
}

#search img {
    width: 18px;
    height: 18px;
}

#refresh-btn img {
    width: 18px;
    height: 17px;
}

#filter-bar, #search-bar {
    display: inline-table;
    float: left;
    position: relative;
    margin-left: 8px;
    line-height: 30px;
    vertical-align: middle;
}

.top-menu input[type="text"] {
    border: 1px solid black;
    background-color: rgb(30, 30, 30);
    color: rgb(221, 221, 221);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.25);
}

#filter {
    width: 150px;
}

#login-btn {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}

#context-menu {
    position: absolute;
    background: rgb(18, 18, 18);
    border-radius: 3px;
    z-index: 10;
    display: none;
    overflow: hidden;
}

#context-menu .context-row {
    padding: 4px 8px;
}

#context-menu .context-row:hover {
    background: rgb(100, 65, 165);
    color: rgb(255, 255, 255);
    cursor: pointer;
}