.radio-tip {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 7px;
}

.control {
    margin-bottom: 15px;
}

.control-wrapper {
    display: block;
    position: relative;
    margin-top: 5px;
}

.control-desc {
    display: inline;
    cursor: pointer;
}

select {
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(106, 78, 158);
    background-image: url(../img/down.svg);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    color: white;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 5px;
}

input[type="text"] {
    border-radius: 3px;
    padding: 3px;
    outline: none;
}

.control input[type="text"] {
    width: 80%;
    border: 1px solid black;
    background-color: rgb(30, 30, 30);
    color: rgb(221, 221, 221);
}

input[type="button"] {
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(106, 78, 158);
    border: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: rgb(185, 163, 277);
    width: 200px;
    height: 3px;
    border-radius: 3px;
}

input[type="range"]::-moz-range-track {
    background-color: rgb(185, 163, 277);
    width: 200px;
    height: 3px;
    border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
    background: rgb(185, 163, 277);
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 3px solid rgb(100, 65, 165);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(185, 163, 277);
    width: 18px;
    border-radius: 9px;
    height: 18px;
    border: 3px solid rgb(100, 65, 165);
}

input[type="range"] {
    position: relative;
    top: -2px;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label span, input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 16px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    float: left;
}

input[type="radio"] + label span {
    background: url(../img/radiobutton.svg) left top no-repeat;
}

input[type="radio"]:checked + label span {
    background: url(../img/radiobutton.svg) -25px top no-repeat;
}

input[type="checkbox"] + label span {
    background: url(../img/checkbox.svg) left top no-repeat;
}

input[type="checkbox"]:checked + label span {
    background: url(../img/checkbox.svg) -25px top no-repeat;
}

input.toggle[type="checkbox"] + label div:nth-child(2) {
    display: block;
}

input.toggle[type="checkbox"] + label div:nth-child(3) {
    display: none;
}

input.toggle[type="checkbox"]:checked + label div:nth-child(2) {
    display: none;
}

input.toggle[type="checkbox"]:checked + label div:nth-child(3) {
    display: block;
}

.range-helper {
    display: inline-block;
    position: relative;
    top: 0px;
}