.simple-version .item-image-container {
    display: none !important;
}

.simple-version .stream-info-status {
    display: none !important;
}

.simple-version .stream {
    padding: 5px 10px !important;
    min-height: 0 !important;
}