body {
    font-size: 14px;
    background-color: #ececec;
}

.content {
    padding-top: 35px;
    padding-left: 20px;
}

.controls {
    margin-top: 10px;
}

.controls i {
    font-size: 2em;
}

.wrapper {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 360px;
    margin: 0 auto;
    border-radius: 5px;
}

#output {
    padding: 5px;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-top: 10px;
}