.white-version {
    background: rgba(240, 240, 240, 1);
    color: rgb(120, 120, 120);
}

.white-version .scroller__bar {
    background: rgba(55, 55, 55, 0.8);
}

.white-version .scroller__bar:active {
    background: rgba(55, 55, 55, 1);
}

.white-version .screen-msg h2 {
    color: rgba(55, 55, 55, 1);
}

.white-version #context-menu {
    background: rgb(255, 255, 255);
}

.white-version .dropdown-menu {
    background-color: rgb(255, 255, 255);
}

.white-version .dropdown-menu:after {
    border-bottom: 6px solid rgb(255, 255, 255);
}

.white-version .dropdown-menu > li > a {
    color: #333333;
}

.white-version .dropdown-menu > li > a:hover,
.white-version .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(100, 65, 165);
}

.white-version .dropdown-menu > .active > a,
.white-version .dropdown-menu > .active > a:hover,
.white-version .dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}

.white-version .dropdown-menu > .disabled > a,
.white-version .dropdown-menu > .disabled > a:hover,
.white-version .dropdown-menu > .disabled > a:focus {
    color: #777777;
}

.white-version .dropdown-menu .divider {
    background-color: #e5e5e5;
}

.white-version #content {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.55);
}

.white-version .header {
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    margin-bottom: 10px;
}

.white-version i[class^="icon-"] {
    color: rgb(75, 40, 140);
    text-shadow: none;
}

.white-version .control input[type="text"] {
    border: 1px solid #cccccc;
    background-color: rgb(255, 255, 255);
    color: rgb(120, 120, 120);
}

.white-version .stream {
    border-top: 1px solid rgb(252, 252, 252);
    border-bottom: 1px solid rgb(220, 220, 220);
}

.white-version .stream .stream-title {
    color: rgb(40, 40, 40);
}

.white-version .stream:hover .stream-title {
    color: rgb(0, 0, 0);
}

.white-version .stream:active {
    background-color: rgb(220, 220, 220);
    border-top: 1px solid rgb(252, 252, 252);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.white-version .stream:hover {
    background-color: rgb(248, 248, 248);
}

.white-version .stream .item-image-container {
    border: 1px solid rgb(255, 255, 255);
}

.white-version .game {
    background-color: rgb(244, 244, 244);
    border-bottom: 1px solid rgb(204, 204, 204);
}

.white-version .game .game-preview {
    border: 1px solid rgb(255, 255, 255);
}

.white-version .game .stream-info.stream-title {
    color: rgb(44, 44, 44);
}

.white-version .button {
    color: rgb(120, 120, 120);
    background-color: rgb(255, 255, 255);
}

.white-version .button:hover {
    background-color: rgb(255, 255, 255);
}

.white-version .button .icon.icon-camera {
    background-image: url(../img/camera-dark.png);
}

.white-version .button .icon.icon-play {
    background-image: url(../img/play-dark.png);
}