.info-section {
    margin-bottom: 25px;
}

.info-section .user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 3px;
}

.info-section .donation .user-avatar {
    vertical-align: middle;
    margin-right: 5px;
}

.info-section .donation-list div {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    margin-bottom: 5px;
}

.info-section .contributor-list div {
    display: inline-block;
    cursor: pointer;
    margin-left: 2px;
    margin-bottom: 2px;
}

