.icon {
    background-size: cover;
    background-repeat: no-repeat;
}

.big-icon {
    width: 31px;
    height: 22px;
}

.small-icon {
    width: 24px;
    height: 18px;
}

.icon.heart-icon {
    background-image: url(./img/heart.png);
}

.icon.help-icon {
    background-image: url(./img/help.png);
}

.icon.joystick-icon {
    background-image: url(./img/joystick.png);
}

.icon.star-icon {
    background-image: url(./img/star.png);
}

.icon.refresh-icon {
    background-image: url(./img/refresh.png);
}

.icon.settings-icon {
    background-image: url(./img/settings.png);
}

.icon.search-icon {
    background-image: url(./img/search.png);
}

.menu-btn {
    cursor: pointer;
    padding: 10px 0px;
    opacity: 0.9;
    -webkit-transition: background 100ms linear;
}

.menu-btn:hover {
    opacity: 1;
    background: rgb(100, 65, 165);
}

.menu-btn:active, .menu-btn.active {
    opacity: 1;
    background: rgb(75, 40, 140);
}

.menu-btn .icon {
    margin-left: 4px;
}

.top-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    background: rgb(18, 18, 18);
    left: 0;
    opacity: 0.9;
    height: 30px;
    right: 0;
    width: 440px;
    border-bottom: 1px solid black;
}

#search-menu {
    /*left: 39px;*/
    display: block;
}

#search {
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-top: 6px;
}

#top-menu .top-menu-btn {
    display: inline-block;
    cursor: pointer;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#filter-bar, #search-bar {
    display: inline-block;
    float: left;
    position: relative;
    margin-top: 3px;
    margin-left: 8px;
}

input[type="text"] {
    outline: none;
    border: 1px solid black;
    background-color: rgb(30, 30, 30);
    color: rgb(221, 221, 221);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.25);
    text-indent: 5px;
}

#filter {
    width: 150px;
}

#logout-btn, #login-btn {
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

#context-menu {
    position: absolute;
    background: rgb(18, 18, 18);
    border-radius: 3px;
    z-index: 10;
    display: none;
}

#context-menu .context-row {
    padding: 4px 8px;
}

#context-menu .context-row:hover {
    background: rgb(100, 65, 165);
    color: rgb(255, 255, 255);
    cursor: pointer;
}