html {
    background: rgba(30, 30, 30, 1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(119, 119, 119);
    font-size: 12px;
}

.logo {
    float: left;
    margin-left: 5px;
}

#output {
    float: left;
    line-height: 1.3;
    padding: 10px;
}

#output .stream {
    cursor: pointer;
}

#output .stream:hover {
    color: rgb(180, 180, 180);
}