<div class="stream js-filterable">
    <div class="item-image-container stream-preview">
        {{#if favorite}}
        <div class="stream-uptime">
            {{h-uptime created_at}}
        </div>
        {{/if}}
        <img class="lazy" alt="" data-original="{{preview.medium}}"/>
    </div>
    <span class="stream-info stream-title">
            {{channel.display_name}}
    </span>
    <span class="stream-info stream-info-viewers">
        {{#if vodcast}}
        <span class="icon-vodcast" title="vodcast"></span>
        {{/if}}
            {{game}} - {{h-num-format viewers}} __MSG_m45__
        </span>
    <span class="stream-info stream-info-status" title="{{channel.status}} ">
            {{channel.status}}
        </span>
</div>
