{{#if authenticated}}
<div class="user-panel">

    <div class="dropdown">
        <div class="username dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
            <img class="lazy" alt="" src="{{logo}}"/>
            {{name}}
            <i class="icon-menu"></i>
        </div>

        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu2">
            <li role="presentation">
                <a role="menuitem"
                   tabindex="-1" href="#user/notifications">__MSG_m85__</a>
            </li>
            <li class="divider"></li>
            <li role="presentation">
                <a role="menuitem" id="logout-btn" tabindex="-1"
                   href="#">__MSG_m53__</a>
            </li>
        </ul>
    </div>

</div>
{{else}}
<a class="btn" title="__MSG_m52__" id="login-btn">__MSG_m52__</a>
{{/if}}