<div class="stream js-tab js-filterable" data-href="{{url}}">
    <div class="item-image-container stream-preview">
        <img alt="" class="lazy" data-original="{{preview.medium}}"/>
        <div class="stream-uptime">
            {{h-date-format length}}
        </div>
    </div>
    <span class="stream-info stream-title" title="{{title}}">
            {{title}}
    </span>

    <span class="stream-info">
            {{channel.display_name}} - {{game}}
    </span>

    <span class="stream-info">
        {{h-prettydate recorded_at}}
    </span>
</div>